---
layout: default
---

<article id="main">
    <header class="special container">
        <span class="icon fa-users"></span>
        <h2 style="font-weight: 800">Members</h2>
    </header>

    <section class="wrapper style3 container special">
      <h2 style="font-weight: 800">Principal Investigators</h2>
      <div class="row posts people">
        {% assign clab = site.categories.people | where:"category", "PI" %}
        {% for post in clab %}
        <div class="4u person-card">
          <a href="#{{post.title}}">
            <span class="image people"><img src="{{post.image-file}}" alt=""></span>
            <h2 class="people name">{{post.name}}<br />{{post.surname}}</h2>
            <span class="people">{{post.excerpt}}</span>
          </a>
        </div>
        {% endfor %}
      </div>

      <h2 style="font-weight: 800; margin-top: 3em">Post-docs</h2>

      <div class="row posts people">
        {% assign clab = site.categories.people | where:"category", "postdoc" %}
        {% for post in clab %}
        <div class="4u person-card">
          <a href="#{{post.title}}">
            <span class="image people"><img src="{{post.image-file}}" alt=""></span>
            <h2 class="people name">{{post.name}}<br />{{post.surname}}</h2>
          </a>
        </div>
        {% endfor %}
      </div>

      <h2 style="font-weight: 800; margin-top: 3em">PhD Students</h2>

      <div class="row posts people">
        {% assign clab = site.categories.people | where:"category", "phd" %}
        {% for post in clab %}
        <div class="4u person-card">
          <a href="#{{post.title}}">
            <span class="image people"><img src="{{post.image-file}}" alt=""></span>
            <h2 class="people name">{{post.name}}<br />{{post.surname}}</h2>
          </a>
        </div>
        {% endfor %}
      </div>

    </section>

    <section class="wrapper style3 container special">

      <h2 style="font-weight: 800; text-align: left">INTERNS</h2>
      <div class="row posts others">
        <div class="4u" style="font-family: Oswald; font-weight: 700;">TOMASZ DĄBROWA-KOSTKA</div>
        <div class="8u"style="text-align:left;">Student of Cognitive Science at Jagiellonian University</div>
      </div>
      <div class="row posts others">
        <div class="4u" style="font-family: Oswald; font-weight: 700; padding: 10px 0 0 50px;">WIKTORIA JAKUBOWSKA</div>
        <div class="8u"style="text-align:left; padding: 10px 0 0 50px;">Student of Psychology at Jagiellonian University</div>
      </div>
      <div class="row posts others">
        <div class="4u" style="font-family: Oswald; font-weight: 700; padding: 10px 0 0 50px;">LAURA ŁĘPA</div>
        <div class="8u"style="text-align:left; padding: 10px 0 0 50px;">Student of Psychology in Management at Jagiellonian University</div>
      </div>


      <h2 style="font-weight: 800; text-align: left; margin-top: 3em;">ALUMNI</h2>
      <div class="row posts others">
        <div class="4u" style="font-family: Oswald; font-weight: 700;">ANNA ANZULEWICZ, PhD</div>
        <div class="8u"style="text-align:left;">Assistant Professor at the Warsaw University, Faculty of Psychology</div>
      </div>
      <div class="row posts others">
        <div class="4u" style="font-family: Oswald; font-weight: 700; padding: 10px 0 0 50px;">URSZULA GÓRSKA, PhD</div>
        <div class="8u"style="text-align:left; padding: 10px 0 0 50px;">Post-doc at University of Wisconsin-Madison</div>
      </div>
      <div class="row posts others">
        <div class="4u" style="font-family: Oswald; font-weight: 700; padding: 10px 0 0 50px;">MARTA ŁUKOWSKA, PhD</div>
        <div class="8u"style="text-align:left; padding: 10px 0 0 50px;">Independent researcher</div>
      </div>
      <div class="row posts others">
        <div class="4u" style="font-family: Oswald; font-weight: 700; padding: 10px 0 0 50px;">BARTOSZ MAJCHROWICZ, PhD</div>
        <div class="8u"style="text-align:left; padding: 10px 0 0 50px;">Post-doc at Institute of Cognitive Neuroscience at UCL</div>
      </div>
      <div class="row posts others">
        <div class="4u" style="font-family: Oswald; font-weight: 700; padding: 10px 0 0 50px;">DOMINIKA DRĄŻYK, MA</div>
        <div class="8u"style="text-align:left; padding: 10px 0 0 50px;">PhD student at Université catholique de Louvain</div>
      </div>


      <h2 style="font-weight: 800; text-align: left; margin-top: 3em;">PAST POST-DOCS</h2>
      <div class="row posts others">
        <div class="4u" style="font-family: Oswald; font-weight: 700;">MAGDALENA REUTER, PhD</div>
        <div class="8u"style="text-align:left;">Assistant Professor at the Institute of Philosophy and Sociology, Pedagogical University of Kraków</div>
      </div>


      <h2 style="font-weight: 800; text-align: left; margin-top: 3em;">VISITING RESEARCHERS</h2>
      <div class="row posts others">
        <div class="4u" style="font-family: Oswald; font-weight: 700;">NATALIA ANDRIYSNIVA</div>
        <div class="8u"style="text-align:left;"> </div>
      </div>
      <div class="row posts others">
        <div class="4u" style="font-family: Oswald; font-weight: 700; padding: 10px 0 0 50px;">LENKA SAKALOSOVA</div>
        <div class="8u"style="text-align:left; padding: 10px 0 0 50px;"> </div>
      </div>
      <div class="row posts others">
        <div class="4u" style="font-family: Oswald; font-weight: 700; padding: 10px 0 0 50px;">ONDŘEJ BEČEV</div>
        <div class="8u"style="text-align:left; padding: 10px 0 0 50px;"> </div>
      </div>
      <div class="row posts others">
        <div class="4u" style="font-family: Oswald; font-weight: 700; padding: 10px 0 0 50px;">LUKA JURAS</div>
        <div class="8u"style="text-align:left; padding: 10px 0 0 50px;"> </div>
      </div>
      <div class="row posts others">
        <div class="4u" style="font-family: Oswald; font-weight: 700; padding: 10px 0 0 50px;">NADINE SPYCHALA</div>
        <div class="8u"style="text-align:left; padding: 10px 0 0 50px;"> </div>
      </div>


      <h2 style="font-weight: 800; text-align: left; margin-top: 3em;">COLLABORATORS</h2>
      <div class="row posts others">
        <div class="4u" style="font-family: Oswald; font-weight: 700;">WERONIKA KAŁWAK, PhD</div>
        <div class="8u"style="text-align:left;">Assistant Professor at the Institute of Psychology, Jagiellonian University.</div>
      </div>
      <div class="row posts others">
        <div class="4u" style="font-family: Oswald; font-weight: 700; padding: 10px 0 0 50px;">MAREK PĘDZIWIATR, PhD</div>
        <div class="8u"style="text-align:left; padding: 10px 0 0 50px;"> </div>
      </div>
      <div class="row posts others">
        <div class="4u" style="font-family: Oswald; font-weight: 700; padding: 10px 0 0 50px;">ONDŘEJ BEČEV</div>
        <div class="8u"style="text-align:left; padding: 10px 0 0 50px;"> </div>
      </div>


    </section>


    {% for post in site.categories.people %}
    <div id="{{post.title}}" class="modalDialog">
      <div class="container">	<a href="#close" title="Close" class="close">X</a>
        <div class="row posts people dialog">
          <div class="4u dialog">
            <span class="image people dialog"><img src="{{post.image-file}}" alt=""></span>
            <h2 class="people name dialog">{{post.name}}<br />{{post.surname}}</h2>
            <div class="icons">
              {% if post.mail %}
                <a href="mailto:{{post.mail}}" class="icon circle fa-envelope-o">
                </a>
              {% endif %}

              {% if post.website %}
                <a href="{{post.website}}" class="icon circle fa-globe">
                </a>
              {% endif %}

              {% if post.twitter %}
                <a href="{{post.twitter}}" class="icon circle fa-twitter">
                </a>
              {% endif %}

              {% if post.researchgate %}
                <a href="{{post.researchgate}}" class="icon circle fa-graduation-cap">
                </a>
              {% endif %}
            </div>
          </div>
          <div class="8u dialog text">
              <span class="people dialog">{{post.content}}</span>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</article>
